.pill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 41.5px;
    border: 2px solid #737373;
    width: 100%;
    margin-bottom: 3%;
    height: calc(25% - 3%);
    cursor: pointer;
    padding: 2%;
}

.pill-container:hover{
    background-color: #c6c6c6;
}

.pill-container.question {
    background: #E3E3E3;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
}

.pill-container span {
    color: #737373;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}