* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #e3e3e3;
  margin: 0;


}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}


.wrapper {

  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);

}

/* .wrapper h1 {
  margin: 40px 427px 44px 58px;
} */



.wrapper input {
  margin-bottom: 35px;
  padding: 32px;
  width: 100%;
  border-radius: 41.5px;
  background: #E3E3E3;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;

}

ul{
  margin: 0;
  padding: 0;
}

.wrapper-input button {
  background-color: #737373;
  color: #fff;
  padding: 15px;
  width: 100%;
  border-radius: 41.5px;
  border: none;
  cursor: pointer;
}

.wrapper-input button span {
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



.wrapper-login {
  background: yellow;
  margin: auto;
  max-width: 300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 109px;
  background: #737373;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}


.header__avatar {
  margin-left: 4%;
  background-color: #fff;
  height: 82px;
  width: 82px;
  border-radius: 100%;
}

.header__username {
  margin-left: 3%;
  color: white;
}

.result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-login{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 3% 5% 7% 5%;
  align-content: center;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn__tryagain{
  width: 100%;
  background-color: #6b6b72;
  color: white;
  padding: 3%;
}

.btn__tryagain:hover{
  cursor: pointer;
}


@media(max-width: 1000px){
  .wrapper{
    width: 40% !important;
  }

}